body{
  margin: 0;
  padding: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.navigation {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.navigation h1{
  margin-left: 20px;
  width: 30%;
  color: gray;
}
.navigation i{
  color: lightgreen;
}
.navigation ul{
  width: 70%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.navigation ul>li{
  list-style-type: none;
}
.navigation a{
  font-size: 30px;
  text-decoration: none;
  color: lightgray;
}
.navigation a:hover{
  border-bottom: lightgreen 3px solid;
  color: gray;
}
.main{
  position: relative;
  width: 80%;
  height: 300px;
  margin: auto;
}
.main-header{
  border-radius: 25px 25px 0 0;
  border: solid gray 1px;
  width: 100%;
  height: 80%;
  background-image: url("./images/backheader.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main-image{
  position: absolute;
  top: 20%;
  left: 5%;
}
.main-image img{
  border: 2px solid white;
  width: 200px;
  height: 200px;
}
.content{
  display: flex;
  width: 100%;
  border-radius: 0 0 25px 25px;
  border: 1px solid gray;
  height: 300px;
}
.content-left{
  padding: 8px;
  color: gray;
  width: 40%;
  height: 100%;
}
.content-left span{
  color: lightgreen;
}
.content-right{
  width: 60%;
}
.content-right table{
  margin: auto;
  margin-top: 30px;
  width: 30%;
  color: gray;
  border-left: 1px solid gray;
}
.content-right a{
  text-decoration: none;
  color: green;
}
.content-resume{
  border-radius: 0 0 25px 25px;
  border: 1px solid gray;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.content-resume div{
  width: 30%;
  text-align: center;
  margin-top: 3%;
  color: green;
}
.content-contact{
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 300px;
  border-radius: 0 0 25px 25px;
  border: 1px solid gray;
}
.content-contact-social{
  text-align: center;
  color: green;
  margin-top: 5%;
}
.content-contact-map {
  margin-top: 5%;
}
.content-portfolio{
  width: 100%;
  height: 300px;
  border-radius: 0 0 25px 25px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}
